<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="BobChat.command" name="Command" schema="schema/BobChat.command.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="bobchat.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="bobchat.ui.Perspective"
            id="BobChat.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="bobchat.ui.ChannelView"
            id="BobChat.view"
            name="ChannelView">
      </view>
      <view
            allowMultiple="false"
            class="bobchat.ui.ImageView"
            id="BobChat.imageView"
            name="ImageView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="BobChat.application"
            name="BobChat">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="BobChat.command">
      <command
            class="bobchat.command.JoinCommand"
            keyword="join"
            name="Join Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="bobchat.preferences.NetworksPreferencePage"
            id="bobchat.preferences.NetworksPreferencePage"
            name="Networks Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="bobchat.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
